<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shibro.nativeproducts.persistence.PictureInfoMapper">
  <resultMap id="BaseResultMap" type="com.shibro.nativeproducts.data.entity.PictureInfo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="info_id" jdbcType="INTEGER" property="infoId" />
    <result column="show_pic" jdbcType="LONGVARCHAR" property="showPic" />
  </resultMap>

  <sql id="Base_Column_List">
    id, info_id ,show_pic
  </sql>

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from picture_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from picture_info
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <insert id="insertSelective" parameterType="com.shibro.nativeproducts.data.entity.PictureInfo">
    insert into picture_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="infoId != null">
        info_id,
      </if>
      <if test="showPic != null">
        show_pic,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="infoId != null">
        #{infoId,jdbcType=INTEGER},
      </if>
      <if test="showPic != null">
        #{showPic,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.shibro.nativeproducts.data.entity.PictureInfo">
    update picture_info
    <set>
      <if test="infoId != null">
        info_id = #{infoId,jdbcType=INTEGER},
      </if>
      <if test="showPic != null">
        show_pic = #{showPic,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>