<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shibro.nativeproducts.persistence.ProductsInfoMapper">
  <resultMap id="BaseResultMap" type="com.shibro.nativeproducts.data.entity.ProductsInfo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="price" jdbcType="DECIMAL" property="price" />
    <result column="sale_address" jdbcType="VARCHAR" property="saleAddress" />
    <result column="recommend_level" jdbcType="DOUBLE" property="recommendLevel" />
    <result column="difficulty" jdbcType="DOUBLE" property="difficulty" />
    <result column="main_picture_url" jdbcType="VARCHAR" property="mainPictureUrl" />
    <result column="other_picture_url" jdbcType="VARCHAR" property="otherPictureUrl" />
  </resultMap>

  <sql id="Base_Column_List">
    id, name, description, type, price, sale_address, recommend_level, difficulty,main_picture_url,other_picture_url
  </sql>


  <select id="selectAll"  resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from products_info
  </select>

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from products_info
    where id = #{id,jdbcType=INTEGER}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from products_info
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <insert id="insertSelective" parameterType="com.shibro.nativeproducts.data.entity.ProductsInfo">
    insert into products_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="price != null">
        price,
      </if>
      <if test="saleAddress != null">
        sale_address,
      </if>
      <if test="recommendLevel != null">
        recommend_level,
      </if>
      <if test="difficulty != null">
        difficulty,
      </if>
      <if test="mainPictureUrl != null">
        main_picture_url,
      </if>
      <if test="otherPictureUrl != null">
        other_picture_url,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="saleAddress != null">
        #{saleAddress,jdbcType=VARCHAR},
      </if>
      <if test="recommendLevel != null">
        #{recommendLevel,jdbcType=DOUBLE},
      </if>
      <if test="difficulty != null">
        #{difficulty,jdbcType=DOUBLE},
      </if>
      <if test="mainPictureUrl != null">
        #{mainPictureUrl,jdbcType=VARCHAR},
      </if>
      <if test="otherPictureUrl != null">
        #{otherPictureUrl,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.shibro.nativeproducts.data.entity.ProductsInfo">
    update products_info
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="saleAddress != null">
        sale_address = #{saleAddress,jdbcType=VARCHAR},
      </if>
      <if test="recommendLevel != null">
        recommend_level = #{recommendLevel,jdbcType=DOUBLE},
      </if>
      <if test="difficulty != null">
        difficulty = #{difficulty,jdbcType=DOUBLE},
      </if>
      <if test="mainPictureUrl != null">
        main_picture_url = #{mainPictureUrl,jdbcType=VARCHAR},
      </if>
      <if test="mainPictureUrl != null">
        other_picture_url = #{otherPictureUrl,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>

</mapper>